@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding-top: 10px;
}
.input-title{
    width: 80%;
    margin-top: 10px;
    border: 2px solid rgb(132, 127, 153);
    border-radius: 8px;
} 
.btn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
}
.pxc{
    padding-right: 12rem;
    padding-left: 12rem;
}
.width-full{
    width: 100% !important;
}

@media only screen and (max-width: 1024px){

    .pxc{
        padding-right: 8rem !important;
        padding-left: 8rem !;
    }
    }

@media only screen and (max-width: 900px){

.pxc{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
}